.portal-cluster-multiple-sample-web {
	font-style: italic;
}
.blueText {
	color: blue;
}

.redText {
	color: red;
}

.largeFont {
	font-size: large;
}

.center {
	text-align: center;
	vertical-align: middle;
}

.myBorder {
	border: solid 1px black;
}

.width20 {
	width: 20%;
}

.myInput {
	border: solid 1px grey;
	width: 30%;
}
