## ---------- Common variables ---------- ##

#set ($theme_display = $themeDisplay)

#set ($theme_settings = $themeDisplay.getThemeSettings())

#set ($root_css_class = "aui " + $languageUtil.get($locale, "lang.dir"))
#set ($css_class = $theme_display.getColorScheme().getCssClass() + " yui3-skin-sam")

#set ($liferay_toggle_controls = $sessionClicks.get($request, "liferay_toggle_controls", "visible"))

#if ($layout)
	#set ($page_group = $layout.getGroup())

	#if ($page_group.isStagingGroup())
		#set ($css_class = $css_class + " staging local-staging")
	#elseif ($theme_display.isShowStagingIcon() && $page_group.hasStagingGroup())
		#set ($css_class = $css_class + " live-view")
	#elseif ($theme_display.isShowStagingIcon() && $page_group.isStagedRemotely())
		#set ($css_class = $css_class + " staging remote-staging")
	#end

	#if ($page_group.isControlPanel())
		#set ($liferay_toggle_controls = "visible")
	#end
#end

#if ($liferay_toggle_controls == "visible")
	#set ($css_class = $css_class + " controls-visible")
#else
	#set ($css_class = $css_class + " controls-hidden")
#end

#if ($getterUtil.getBoolean($sessionClicks.get($request, "liferay_dockbar_pinned", ""), false))
	#set ($css_class = $css_class + " lfr-dockbar-pinned")
#end

#if ($layoutTypePortlet.hasStateMax())
	#set ($css_class = $css_class + " page-maximized")
#end

#set ($css_folder = "$theme_display.getPathThemeCss()")
#set ($images_folder = "$theme_display.getPathThemeImages()")
#set ($javascript_folder = "$theme_display.getPathThemeJavaScript()")

#set ($full_templates_path = $fullTemplatesPath)

#set ($css_main_file = $htmlUtil.escape($portalUtil.getStaticResourceURL($request, "$css_folder/main.css")))
#set ($js_main_file = $htmlUtil.escape($portalUtil.getStaticResourceURL($request, "$javascript_folder/main.js")))

#set ($company_name = $company.getName())

#set ($w3c_language_id = $localeUtil.toW3cLanguageId($theme_display.getLanguageId()))

#set ($is_signed_in = $theme_display.isSignedIn())

## ---------- URLs ---------- ##

#if ($theme_display.isShowControlPanelIcon())
	#set ($control_panel_url = $htmlUtil.escape($theme_display.getURLControlPanel()))
#end

#if ($theme_display.isShowSignInIcon())
	#set ($sign_in_text = $languageUtil.get($locale, "sign-in"))
	#set ($sign_in_url = $htmlUtil.escape($theme_display.getURLSignIn()))
#end

## ---------- Page ---------- ##

#set ($the_title = "")
#set ($selectable = $theme_display.isTilesSelectable())

#if ($layout)
	#set ($page = $layout)

	#set ($the_title = $languageUtil.get($locale, $the_title, $page.getName($locale)))

	#set ($site_name = $htmlUtil.escape($page_group.getDescriptiveName()))

	#set ($is_guest_group = $page_group.getName() == "Guest")

	#if ($is_guest_group)
		#set ($css_class = $css_class + " guest-site")
	#end

	#if ($is_signed_in)
		#set ($css_class = $css_class + " signed-in")
	#else
		#set ($css_class = $css_class + " signed-out")
	#end

	#if ($layout.isPublicLayout())
		#set ($css_class = $css_class + " public-page")
	#else
		#set ($css_class = $css_class + " private-page")
	#end

	#if ($page_group.isLayoutPrototype())
		#set ($css_class = $css_class + " page-template")
	#end

	#if ($page_group.isLayoutSetPrototype())
		#set ($css_class = $css_class + " site-template")
	#end

	#if ($page_group.isCompany())
		#set ($site_type = "company-site")
	#elseif ($page_group.isOrganization())
		#set ($site_type = "organization-site")
	#elseif ($page_group.isUser())
		#set ($site_type = "user-site")
	#else
		#set ($site_type = "site")
	#end

	#set ($css_class = $css_class + " " + $site_type)

	#set ($my_sites_portlet_url = $portletURLFactory.create($request, "49", $page.getPlid(), "ACTION_PHASE"))

	$my_sites_portlet_url.setWindowState("normal")
	$my_sites_portlet_url.setPortletMode("view")

	$my_sites_portlet_url.setParameter("struts_action", "/my_sites/view")
	$my_sites_portlet_url.setParameter("groupId", "$page.getGroupId()")

	#if ($layout.isPrivateLayout())
		$my_sites_portlet_url.setParameter("privateLayout", "true")

		#set ($site_default_url = $htmlUtil.escape($my_sites_portlet_url.toString()))
	#else
		$my_sites_portlet_url.setParameter("privateLayout", "false")

		#set ($site_default_url = $htmlUtil.escape($my_sites_portlet_url.toString()))
	#end
#end

#set ($the_title = $layout.getHTMLTitle($locale))

#set ($the_title = $pageTitle)

#if ($pageSubtitle)
	#set ($the_title = $pageSubtitle + " - " + $the_title)
#end

#if ($tilesTitle != "")
	#set ($the_title = $languageUtil.get($locale, $tilesTitle))
#end

#if ($page_group.isLayoutPrototype())
	#set ($the_title = $page_group.getDescriptiveName())
#end

#if (($tilesTitle == "") && !$pageTitle)
	#set ($the_title = $htmlUtil.escape($the_title))
#end

## ---------- Logo ---------- ##

#set ($site_logo_height = $theme_display.getCompanyLogoHeight())
#set ($site_logo_width = $theme_display.getCompanyLogoWidth())

#if (($company.getLogoId() == 0) && !$layout.layoutSet.isLogo())
	#set($logo_css_class = "logo default-logo")
#else
	#set($logo_css_class = "logo custom-logo")
#end

#if ($is_guest_group)
	#set ($show_site_name = true)
#else
	#set ($show_site_name_supported = $getterUtil.getBoolean($theme_settings.getProperty("show-site-name-supported"), true))

	#set ($show_site_name_default = $getterUtil.getBoolean($theme_settings.getProperty("show-site-name-default"), $show_site_name_supported))

	#set ($show_site_name = $getterUtil.getBoolean($layout.layoutSet.getSettingsProperty("showSiteName"), $show_site_name_default))
#end

#set($site_logo = $htmlUtil.escape($theme_display.getCompanyLogo()))
#set ($logo_description = $htmlUtil.escape($site_name))

## ---------- Navigation ---------- ##

#set ($has_navigation = false)

#if ($navItems)
	#set ($nav_items = $navItems)
	#set ($has_navigation = ($nav_items && $nav_items.size() > 0))
#end

#set ($nav_css_class = "sort-pages modify-pages")

#if (!$has_navigation)
	#set ($nav_css_class = $nav_css_class + " hide")
#end

## ---------- Includes ---------- ##

#if ($page.getType().equals("portlet") && $theme_display.isWapTheme())
	#set ($dir_include = "/wap")
#else
	#set ($dir_include = "/html")
#end

#set ($body_bottom_include = "$dir_include/common/themes/body_bottom.jsp")
#set ($body_top_include = "$dir_include/common/themes/body_top.jsp")
#set ($bottom_include = "$dir_include/common/themes/bottom.jsp")
#set ($bottom_ext_include = $bottom_include)
#set ($content_include = "$dir_include$tilesContent")
#set ($top_head_include = "$dir_include/common/themes/top_head.jsp")
#set ($top_messages_include = "$dir_include/common/themes/top_messages.jsp")

## ---------- Custom init ---------- ##

#parse ("$full_templates_path/init_custom.vm")